.pointer{
 height: 40px;
}
.continue{
color: white;
background-color: green;
width: 50px;
font-size: 18px;   
padding:11px 28px;
text-decoration: none; 
}
.continue:hover{
background-color: darkgreen;    
}
.page{
text-align: center;
/* border: 5px solid white; */
border-radius: 10px;
padding: 20px;
}
.new{
text-align: center;  
}
#new{
color: black;    
}
.new2{
 border: 2px solid rgb(195, 202, 195); 
 height: 140px;
 background-color: rgb(233, 230, 227)   
}

.up{
text-align: center;    
}
#up{
    color: green;
    background-color: rgb(195, 202, 195);
    width: 50px;
    font-size: 18px;   
    padding:11px 28px;
    text-decoration: none;   
}
#up:hover{
background-color: rgb(237, 241, 241);    
}
.form{
border: 2px rgb(226, 225, 223) solid;
height: 350px;
width: 500px;   
background-color: white;
text-align: center;
margin: 80px 10px 100px 450px; 
}
/* header{
} */
.oye{
background-color:     rgb(195, 202, 195);
}