.pointer{
height: 40px;   
}
#free{
    color: white;
    background-color: green;
    width: 50px;
    font-size: 18px;   
    padding:11px 28px;
    text-decoration: none;   
}
#free:hover{
background-color: darkgreen;    
}
.main{
text-align: center;
border: 2px rgb(238, 237, 236) solid;
height: 350px;
width: 550px;   
background-color: white;
text-align: center;
margin: 80px 10px 100px 450px;    
}
.input{
text-align: center;    
}
#input{
background-color: rgb(236, 235, 235); 
}
#box{
color: black;    
}
#password{
color: black ;   
}
.not{
color: black;
}
body{
background-color: rgb(214, 219, 219);    
}
header{
background-color: white;    
margin: -8px
}

